@model Assignment2_ASP_NET.Models.StudentHelpRequestsViewModel

@{
    ViewData["Title"] = "GetForStudent";
    var exercises = Model.Exercises;
    var assignments = Model.Assignments;
    var student = Model.Student;
}

<h1>Help Requests for Student</h1>

@* Student Info *@
<br />
<table>
    <tbody>
        <tr>
            <td><strong>@Html.DisplayName(nameof(student.AuId)):</strong></td>
            <td>&nbsp;@student.AuId</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayName(nameof(student.Firstname)):</strong></td>
            <td>&nbsp;@student.Firstname</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayName(nameof(student.Lastname)):</strong></td>
        <td>&nbsp;@student.Lastname</td>
    </tr>
    </tbody>
</table>

@* Exercises *@
<br />
<h4><b>Exercise-Help-Requests</b></h4>
<table class="table table-bordered box-shadow">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.Number)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.Lecture)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.HelpWhere)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.CourseId)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.TeacherId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in exercises)
        {
            <tr>
                <td>
                    @exercise.Number
                </td>
                <td>
                    @exercise.Lecture
                </td>
                <td>
                    @exercise.HelpWhere
                </td>
                <td>
                    @exercise.CourseId
                </td>
                <td>
                    @exercise.TeacherId
                </td>
            </tr>
        }
    </tbody>
</table>

@* Assignments *@
<br />
<h4><b>Assignment-Help-Requests</b></h4>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Assignments.GetEnumerator().Current.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.HelpWhere)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.CourseId)</th>
            <th>@Html.DisplayNameFor(m => m.Exercises.GetEnumerator().Current.TeacherId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in assignments)
        {
            <tr>
                <td>
                    @assignment.Name
                </td>
                <td>
                    @assignment.HelpWhere
                </td>
                <td>
                    @assignment.CourseId
                </td>
                <td>
                    @assignment.TeacherId
                </td>
            </tr>
        }
    </tbody>
</table>
