@model HelpRequestStatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>
<p><i>Help Requests Statistics for all Courses in the database</i></p>

@foreach (var helpRequestStatistic in Model.CourseStatisticsList)
{
    <br/>
    <h6><b>@(helpRequestStatistic.Course.Name + " (" + helpRequestStatistic.Course.CourseId + ")")</b></h6>
    <table class="table table-bordered box-shadow col-md-8 table-striped">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CourseStatisticsList.GetEnumerator().Current.ExerciseAmount)</td>
                <td>@Html.DisplayNameFor(m => m.CourseStatisticsList.GetEnumerator().Current.AssignmentAmount)</td>
                <td>@Html.DisplayNameFor(m => m.CourseStatisticsList.GetEnumerator().Current.OpenAmount)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@helpRequestStatistic.ExerciseAmount</td>
                <td>@helpRequestStatistic.AssignmentAmount</td>
                <td>@helpRequestStatistic.OpenAmount</td>
            </tr>
        </tbody>
    </table>
}


